@keyframes menuOpen {
    from {
        height: 10vw;
        width: 10vw;
    }

    to {
        padding-bottom: 5%;
        padding-left: 5%;
        height: 60vh;
        width: 80%;
    }
}

@keyframes menuClose {
    from {
        padding-bottom: 5%;
        padding-left: 5%;
        height: 60vh;
        width: 80%;
    }

    to {
        height: 10vw;
        width: 10vw;
    }
}

@keyframes contentClose {
    from {
        height: calc(100vh - 10vw);
        width: calc(100% - 11.5vw);
        margin-left: calc(2px + 10vw);
        margin-top: -2px;
    }

    to {
        height: 14vw;
        width: calc(100% - 86.5%);
        margin-left: calc(2px + 85%);
        margin-top: -2px;
    }
}

@keyframes contentOpen {
    from {
        height: 14vw;
        width: calc(100% - 86.5%);
        margin-left: calc(2px + 85%);
        margin-top: -2px;
    }

    to {
        height: calc(100vh - 10vw);
        width: calc(100% - 11.5vw);
        margin-left: calc(2px + 10vw);
        margin-top: -2px;
    }

}

@keyframes menuOpenContent {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes menuCloseContent {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

p, body {
    margin: 0;
}

h1 {
    font-size: 1.5em;
}

body {
    background-color: rgb(30, 29, 34);
    color: white;
    font-family: 'Kulim Park', sans-serif;
}

#corner-MENU {

    border: 2px solid rgb(210, 255, 215);
    background-size: 10vh;
    background-position: center;
    
    height: 10vw;
    width: 10vw;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#menu-Content {
    min-height: max-content;
    max-height: 75%;
    width: 100%;
    text-align: left;

    animation-duration:0.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#home-button {
    font-size: 2em;
    color:rgb(210, 255, 215);

    animation-duration:0.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    
    text-align: left;
    padding-bottom: 5%;
}

#home-button:hover {
    cursor: pointer;
    color:rgb(134, 122, 122);
}

.menu-Link {
    color:rgb(210, 255, 215);
    font-size: 1.5em;
    display: block;
}

.menu-Link:hover {
    cursor: pointer;
    color:rgb(134, 122, 122);
}

.folder-Path {
    color: #79889e;
}

.current-Folder {
    color:white;
}

#main-Content {
    background-color:rgb(11, 19, 13);
    border: 2px solid rgb(210, 255, 215);
    background-size: 10vh;
    background-position: center;
    
    height: calc(100vh - 10vw);
    width: calc(100% - 11.5vw);
    margin-left: calc(2px + 10vw);
    margin-top: -2px;

    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#inside-Content {
    padding: 5%;
    padding-top: 2.5%;
}